html
{
    background-color: black;
    padding: 8px;
}

#title
{
    font-size: 70px;
    color: #5DED51;
}

#instructions
{
    font-size: 30px;
    color: #26CD18;
}

p
{
    font-size: 40px;
    color: #26CD18;
}

input
{
   margin: 8px;
   width: 30%;
   padding: 8px;
   font-size: 20px;
}

label
{
    color: #5DED51;
    font-size: 23px;
}

#logo
{
    margin-top: 40px;
    width: 80px;
    float: left;
    padding: 20px;
}